[Desktop Entry]
GenericName=Database browser
GenericName[bs]=Preglednik baze podataka
GenericName[ca]=Navegador de base de dades
GenericName[ca@valencia]=Navegador de base de dades
GenericName[cs]=Prohlížeč databáze
GenericName[da]=Databasebrowser
GenericName[de]=Datenbankbrowser
GenericName[el]=Περιηγητής βάσης δεδομένων
GenericName[es]=Visor de la base de datos
GenericName[eu]=Datu-base arakatzailea
GenericName[fi]=Tietokantaselain
GenericName[fr]=Navigateur de base de données
GenericName[gl]=Navegador de bases de datos
GenericName[hu]=Adatbázis-böngésző
GenericName[id]=Peramban basis data
GenericName[it]=Navigatore del database
GenericName[nb]=Databaseleser
GenericName[oc]=Navigador de banca de donadas
GenericName[pt]=Navegador da base de dados
GenericName[pt_BR]=Navegador do banco de dados
GenericName[ru]=Браузер базы данных
GenericName[sl]=Brskalnik podatkovne zbirke
GenericName[sr]=Прегледник базе података
GenericName[sr@latin]=Preglednik baze podataka
GenericName[sv]=Databasbläddrare
GenericName[zh_CN]=数据库浏览器
Name=GdaBrowser
Name[cs]=GdaBrowser
Name[da]=GdaBrowser
Name[de]=GdaBrowser
Name[el]=GdaBrowser
Name[es]=GdaBrowser
Name[eu]=Gda-arakatzailea
Name[hu]=GDA böngésző
Name[id]=GdaBrowser
Name[pt]=Navegador Gda
Name[pt_BR]=GdaBrowser
Name[sr]=Гда прегледник
Name[sr@latin]=Gda preglednik
Name[sv]=GdaBrowser
Comment=Browse your database's contents
Comment[cs]=Procházejte obsah svých databází
Comment[da]=Gennemse din databases indhold
Comment[de]=Inhalt Ihrer Datenbank durchsuchen
Comment[el]=Περιήγηση των περιεχομένων της βάσης δεδομένων σας
Comment[es]=Examinar el contenido de su base de datos
Comment[eu]=Arakatu datu-basearen edukia
Comment[fr]=Parcourir le contenu de vos bases de données
Comment[gl]=Examine os contidos das súas bases de datos
Comment[hu]=Az adatbázis tartalmának böngészése
Comment[id]=Ramban isi basis data Anda
Comment[it]=Scorri il contenuto del database
Comment[pt]=Navegar pelo conteúdo da base de dados
Comment[pt_BR]=Navegue pelo conteúdo do seu banco de dados
Comment[sl]=Brskanje po vsebini podatkovne zbirke
Comment[sr]=Прегледајте садржај ваше базе података
Comment[sr@latin]=Pregledajte sadržaj vaše baze podataka
Comment[sv]=Bläddra bland din databas innehåll
Comment[zh_CN]=浏览您的数据库内容
Icon=gda-browser-5.0
Exec=gda-browser-5.0
Terminal=false
Type=Application
Categories=GTK;Development;Database;
StartupNotify=true
Hidden=true