[Desktop Entry]
Version=1.0
Type=Application
Name=Dosbox
Comment=Emulator with builtin DOS for running DOS Games
Exec=dosbox
Icon=dosbox-alt
Terminal=false
StartupNotify=false
Categories=Application;Game;
