[Desktop Entry]
GenericName=Database access control center
GenericName[bs]=Kontrolni centar za pristup podacima
GenericName[ca]=Centre de control d'accés a bases de dades
GenericName[ca@valencia]=Centre de control d'accés a bases de dades
GenericName[cs]=Ovládací centrum přístupu k databázím
GenericName[da]=Kontrolcenter for databasetilgang
GenericName[de]=Kontrollzentrum für den Datenbankzugriff
GenericName[el]=Κέντρο ελέγχου πρόσβασης βάσης δεδομένων
GenericName[es]=Centro de control de acceso de la base de datos
GenericName[eu]=Datu-basean sarbidetzeko kontrol-zentroa
GenericName[fi]=Tietokannan käsittelyn hallintakeskus
GenericName[fr]=Centre de contrôle d'accès aux bases de données
GenericName[gl]=Centro de control de acceso a bases de datos
GenericName[hu]=Adatbázis-hozzáférési vezérlőközpont
GenericName[id]=Pusat kendali akses basis data
GenericName[it]=Centro di controllo accesso database
GenericName[lv]=Datubāžu piekļuves vadības centrs
GenericName[nb]=Kontrollsenter for databaseaksess
GenericName[oc]=Centre de contraròtle d'accès a las bancas de donadas
GenericName[pt]=Centro de controlo de acesso à base de dados
GenericName[pt_BR]=Centro de controle de acesso ao banco de dados
GenericName[ru]=Центр управления доступа к базам данных
GenericName[sl]=Nadzorno središče za dostop do podatkovne zbirke
GenericName[sr]=Управљачки програм приступа бази података
GenericName[sr@latin]=Upravljački program pristupa bazi podataka
GenericName[sv]=Kontrollpanel för databasåtkomst
GenericName[zh_CN]=数据库访问控制中心
Name=Gda Control Center
Name[cs]=Ovládací centrum GDA
Name[da]=Gda-kontrolcenter
Name[de]=Gda-Kontrollzentrum
Name[el]=Κέντρο ελέγχου Gda
Name[es]=Centro de control de GDA
Name[eu]=Gda kontrol-zentroa
Name[hu]=GDA vezérlőközpont
Name[id]=Pusat Kendali Gda
Name[pt]=Centro de controlo Gda
Name[pt_BR]=Centro de controle do GDA
Name[sr]=Гда управљачки центар
Name[sr@latin]=Gda upravljački centar
Name[sv]=Gda-kontrollpanel
Comment=Configure your database access environment
Comment[bs]=Konfigurišite okruženje za pristup bazi podataka
Comment[ca]=Configureu l'entorn d'accés a bases de dades
Comment[ca@valencia]=Configureu l'entorn d'accés a bases de dades
Comment[cs]=Nastavení prostředí pro přístup k vašim databázím
Comment[da]=Konfigurer dit databasetilgangsmiljø
Comment[de]=Einrichten der Umgebung für den Datenbankzugriff
Comment[el]=Ρύθμιση του περιβάλλοντος πρόσβασης βάσης δεδομένων
Comment[es]=Configurar el entorno de acceso de su base de datos
Comment[eu]=Konfiguratu datu-basean sarbidetzeko ingurunea
Comment[fr]=Configuration de l'environnement d'accès à vos bases de données
Comment[gl]=Configure o contorno de acceso a bases de datos
Comment[hu]=Az adatbázis-elérési környezet beállítása
Comment[id]=Tata lingkungan akses basis data Anda
Comment[it]=Configurare l'ambiente d'accesso del proprio database
Comment[lv]=Konfigurē savu datubāžu piekļuves vidi
Comment[nb]=Konfigurer ditt miljø for databaseaksess
Comment[oc]=Configuracion de l'environament d'accès a vòstras bancas de donadas
Comment[pt]=Configurar o seu ambiente de acesso à base de dados
Comment[pt_BR]=Configure o seu ambiente de acesso ao banco de dados
Comment[ru]=Настроить среду доступа к базам данных
Comment[sl]=Nastavitev okoljskih značilnosti dostopa do podatkovne zbirke.
Comment[sr]=Подесите приступ окружењу ваше базе података
Comment[sr@latin]=Podesite pristup okruženju vaše baze podataka
Comment[sv]=Konfigurera din databasåtkomstmiljö
Comment[zh_CN]=配置您的数据库访问环境
Icon=gda-control-center
Exec=gda-control-center-5.0
Terminal=false
Type=Application
Categories=Settings;DesktopSettings;
StartupNotify=true
Hidden=true